[core]
	excludesfile = /Users/jonathan/.gitignore_global
[user]
	name = Jonathan Arnett
	email = jonarnett90@gmail.com
[push]
	default = simple
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[alias]
	co = checkout
	br = branch
	mkbr = checkout -b
	rmbr = branch -d
	mvbr = branch -m
	com = commit -m
	st = status -s
	pullbr = checkout --track
	lsbr = branch -v
	adda = add -A
	hist = log --oneline
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"
[color]
	ui = auto
