[core]
	excludesfile = ~/.gitignore_global
[user]
	name = Jonathan Arnett
	email = jonarnett90@gmail.com
	signingkey = 68A91E8E3A8BD47D
[push]
	default = simple
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[alias]
	co = checkout
	br = branch
	mkbr = checkout -b
	rmbr = branch -d
	mvbr = branch -m
	com = commit -m
	st = status -s
	pullbr = checkout --track
	lsbr = branch
	adda = add -A
	hist = log --oneline
	lsrm = remote -v
	deploy = push deploy
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"
	pr = !hub pull-request
	browse = !hub browse
[color]
	ui = auto
[commit]
	gpgSign = true
[github]
	user = J3RN
